.flex{
  flex: 1;
}
.demo-app{
  display: flex;
  align-items: stretch;
  flex: 1;
  overflow: hidden;
  .demo-sidebar{
    flex: 1;
    background: #f5f5f5;
    overflow: auto;
  }
  .demo-sidebar-section{
    padding: 1em;
  }
  .demo-content{
    flex: 5;
    overflow: auto;
  }
  .demo-row{
    display: flex;
    align-items: stretch;
    .demo-block{
      flex: 1;
      padding: 1em;
    }
  }
  .demo-entries{
    padding: 1em;
  }
  .demo-entry{
    display: flex;
    flex-direction: column;
    min-height: 250px;
  }
  .demo-entry-title{
    color: #888;
  }
  .demo-entry-content{
    flex: 1;
  }
  .demo-wrapper{
    // max-height:500px;
    // overflow: hidden;
    // overflow: auto;
    // border: 1px solid #ddd;
    // padding: 1em;
    // background: rgb(247, 247, 247)
  }
  .demo-code{
    textarea{
      flex: 1;
      padding: .75em;
      border-color: #ddd;
      min-height: 150px;
    }
  }
}
.dataset{
  font-family: "Deja Vu Mono", Arial;
  font-size: 11px;
  .dataset-item{
    padding: .5em 0;
    border: 1px solid #ddd;
    margin-bottom: .5em;
    background: #fff;
  }
  .dataset-entry{
    display: flex;
    padding: .25em 0;
  }
  .dataset-key{
    color: rgb(130, 16, 16);
    flex: 1;
    text-align: right;
    padding-right: 1em;
  }
  .dataset-value{
    //font-weight: bold;
    flex: 3;
    color: rgba( 40, 40, 40, .87 );
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
